        <!--------------  nav begin --------------> 
          <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container">
              <a href="/" class="nav-link text-white">
                <%= image_tag "logo.png", class:"d-inline w-25", alt:"", style:"height: 40px;" %>
              </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span> </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                    <ul class="navbar-nav mr-auto justify-content-end">
                        
                      <% if user_signed_in? %>
                        <li class="nav-item">
                          <%= link_to "My page", current_user, class:"nav-link text-success" %>
                        </li> 
                        <li>
                          <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"nav-link text-danger" %>
                        </li>
                        <li>
                          <%= link_to "New event", destroy_user_session_path, :method => :delete, class:"nav-link text-primary" %>
                        </li>
                        <% else %>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Sign up", new_user_registration_path, class:"nav-link text-secondary" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Login", new_user_session_path, class:"nav-link text-secondary" %>
                        </li>
                      <% end %>
                    </ul>
                </div>
            </div>
          </nav>    